<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{/fragments/head}"></div>
<body>
<div th:replace="~{/fragments/navbar}"></div>
<div class="card">
    <img class="card-img" src="/images/employee.png">
    <div class="card-img-overlay ">
        <form
                th:action="@{boss/add-employee}"
                th:object="${addEmployeeDto}"
                method="post" class="mx-auto w-25 bg-blur rounded">
            <div class="form-group mb-3">
                <label  for="fullName" class="form-label" data-th-text="#{label.employeeFullName}">Full Name</label>
                <input
                        class="form-control"
                        id="fullName"
                        name="fullName"
                        placeholder="Name"
                        th:field="*{fullName}"
                        data-th-value="#{label.employeeFullName}"
                        type="text"
                />
                <p th:errors = "*{fullName}"  class="text-danger"
                   th:if="${#fields.hasErrors('fullName')}"></p>
            </div>
            <div class="form-group mb-3">
                <label  for="age" class="form-label" data-th-text="#{label.employeeAge}">Age</label>
                <input
                        class="form-control"
                        id="age"
                        name="age"
                        placeholder="Age"
                        th:field="*{age}"
                        data-th-placeholder="#{label.employeeAge}"
                        type="number"
                />
                <p th:errors = "*{age}" class="text-danger"
                   th:if="${#fields.hasErrors('age')}"></p>
            </div>
            <div class="form-group mb-3">
                <label  for="address" class="form-label" data-th-text="#{label.employeeAddress}">Address</label>
                <input
                        class="form-control"
                        id="address"
                        name="address"
                        placeholder="Address"
                        th:field="*{address}"
                        data-th-placeholder="#{label.employeeAddress}"
                        type="text"
                />
                <p th:errors = "*{address}"  class="text-danger"
                   th:if="${#fields.hasErrors('address')}"></p>
            </div>
            <div class="form-group mb-3">
                <label  for="startOfWorkingDay" class="form-label" data-th-text="#{label.employeeStart}">Start of working day</label>
                <input
                        class="form-control"
                        id="startOfWorkingDay"
                        name="startOfWorkingDay"
                        th:field="*{startOfWorkingDay}"
                        type="time"
                />
                <p th:errors = "*{startOfWorkingDay}" class="text-danger"
                   th:if="${#fields.hasErrors('startOfWorkingDay')}"></p>
            </div>
            <div class="form-group mb-3">
                <label  for="endOfWorkingDay" class="form-label" data-th-text="#{label.employeeEnd}">End of working day</label>
                <input
                        class="form-control"
                        id="endOfWorkingDay"
                        name="endOfWorkingDay"
                        th:field="*{endOfWorkingDay}"
                        type="time"
                />
                <p th:errors = "*{endOfWorkingDay}"  class="text-danger"
                   th:if="${#fields.hasErrors('endOfWorkingDay')}"></p>
            </div>
            <div class="form-group mb-3">
                <label  for="salary" class="form-label" data-th-text="#{label.employeeSalary}">Salary</label>
                <input
                        class="form-control"
                        id="salary"
                        name="salary"
                        placeholder="Salary"
                        th:field="*{salary}"
                        data-th-placeholder="#{label.employeeSalary}"
                        type="number" step="0.1"
                />
                <p th:errors = "*{salary}" class="text-danger"
                   th:if="${#fields.hasErrors('salary')}"></p>
            </div>
            <div class="form-group mb-3">
                <label  for="identificationNumber" class="form-label" data-th-text="#{label.employeeIdentificationNumber}">Identification number</label>
                <input
                        class="form-control"
                        id="identificationNumber"
                        name="identificationNumber"
                        placeholder="Identification number"
                        th:field="*{identificationNumber}"
                        data-th-placeholder="#{label.employeeIdentificationNumber}"
                        type="text"
                />
                <p th:errors = "*{identificationNumber}" class="text-danger"
                   th:if="${#fields.hasErrors('identificationNumber')}"></p>
            </div>
            <div class="form-group mb-3">
                <label  for="email" class="form-label" data-th-text="#{label.employeeEmail}">Email</label>
                <input
                        class="form-control"
                        id="email"
                        name="email"
                        placeholder="Email"
                        th:field="*{email}"
                        data-th-placeholder="#{label.employeeEmail}"
                        type="text"
                />
                <p th:errors = "*{email}" class="text-danger"
                   th:if="${#fields.hasErrors('email')}"></p>
            </div>
            <div class="row ">
                <div class="col col-md-4 text-center">
                    <div class="button-holder d-flex">
                        <input type="submit" class="btn btn-info btn-lg" data-th-value="#{label.addEmployee}" value="Add Employee"/>
                    </div>
                </div>
            </div>
        </form>
        <div class="text-center">
            <a type="submit" class="btn btn-primary" th:href="@{/home}">Back</a>
        </div>
    </div>
</div>
<footer th:replace="~{/fragments/footer}"></footer>
</body>
</html>