<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<header th:replace="~{/fragments/navbar}"></header>

<div class="card" th:object="${manicureType}" th:action="@{'/manicure/' + ${manicureType.id}}"  >
  <img class="card-img" th:src="'data:image/jpeg;base64,' + ${imageUtil.getImgData(manicureType.img.fileData)}" />
  <div class="card-img-overlay">
<div class="container">
  <div class="flex-content">
    <h1 class="text-center text-info" th:text="${manicureType.name}"></h1>
      <p class="text-info align-text-top" th:text="${manicureType.info}"></p>
  </div>
</div>
</div>
  </div>
</body>
</html>
