<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{/fragments/head}"></div>
<body>
<input type="hidden" name="routeId" id="routeId" th:value="${manicureType.id}">
<div class="card" th:object="${manicureType}" th:action="@{'/manicure/' + ${manicureType.id}}"  >
  <img class="card-img" th:src="'data:image/jpeg;base64,' + ${imageUtil.getImgData(manicureType.img.fileData)}" />
  <div class="card-img-overlay">
<div class="container">
  <div class="flex-content">
    <h1 class="text-center text-info" th:text="${manicureType.name}"></h1>
      <p class="text-info align-text-top" th:text="${manicureType.info}"></p>
  </div>
  <section class="comments">
    <h1>Comments</h1>
    <div>
      <!-- Comments submission -->
      <form id="commentForm" method="POST" >
        <div class="form-group">
          <h4>Leave a comment</h4>
          <label for="message">Message</label>

          <textarea name="message"
                    id="message"
                    cols="30"
                    rows="5"
                    class="form-control"
                    style="background-color: white;"></textarea>
          <small id="messageError" class="invalid-feedback">
            Message should be at least 10 characters.
          </small>
        </div>

        <div class="form-group">
          <input type="submit"
                 class="btn"
                 id="postComment"
                 value="Post Comment"/>
        </div>
      </form>
      <!-- Comments submission -->
    </div>

    <!-- All comments section -->
    <div>
      <span id="commentCtnr"><!-- Comments section, filled in by script --></span>
    </div>
    <!-- EO: All comments section -->
  </section>
  <p style="visibility: hidden">GPX Download: <a id="gpxDownload"></a></p>
</div>
</div>
    <footer th:replace="~{fragments/footer}"></footer>
  </div>
<script src=""></script>
</body>
</html>
