<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{/fragments/head}"></div>
<body>
<navbar th:replace="~{fragments/navbar}"></navbar>
<div class="card" th:object="${manicureType}" th:action="@{'/manicure/' + ${manicureType.id}}"  >
  <img class="card-img" th:src="'data:image/jpeg;base64,' + ${imageUtil.getImgData(manicureType.img.fileData)}" />
  <div class="card-img-overlay">
<div class="container">
  <div class="flex-content">
    <h1 class="text-center text-info" th:text="${manicureType.name}"></h1>
      <p class="text-info align-text-top" th:text="${manicureType.info}"></p>
  </div>
</div>
</div>
  <div class="text-center" style="background-color: white">
    <a type="submit" class="btn btn-primary" th:href="@{/index}">Back</a>
  </div>
  </div>
</body>
</html>
