<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{/fragments/head}"></div>
<body>
<div th:action="@{/user/all-transactions/qrcode}" style="background-color: white" class="text-center">
    <div style="background-color: white">
      <h3>Please scan the QrCode</h3>
      <img th:src="${'data:image/png;base64,' + qrcode}" alt="" height="500" width="500">
    </div>
  </div>
<div class="text-center" style="background-color: white">
    <a type="submit" class="btn btn-primary" th:href="@{/home}">Back</a>
</div>
</body>
</html>