<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title data-th-text="#{label.title}">BeautySalon</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>

<div class="about-section">
    <h1>About Us Page</h1>
    <p>Some text about who we are and what we do.</p>
    <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>

<h2 style="text-align: center ">Our Team</h2>
<div class="row" th:each="employee:${employees}">
    <div class="column">
        <div class="card">
            <img src="/https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.westernhealth.com%2Fabout-us%2Fcareers%2Femployee-benefits%2F&psig=AOvVaw1QjgCwofc8k7pbpkRWavzl&ust=1680932298512000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCPCJ0_aGl_4CFQAAAAAdAAAAABAE" alt="Jane" style="width:100%">
            <div class="container" th:object="${employee}">
                <h3><span th:value="*{fullName}">FirstName</span></h3>
                <h4><span class="title" th:value="*{age}">Age</span></h4>
                <h4><span th:value="*{email}">Email</span></h4>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
