<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:replace="~{/fragments/head}"></div>
<body>
<div th:replace="~{/fragments/navbar}"></div>
<div th:replace="~{/fragments/navbar}"></div>
<div th:each="hairdressing : ${allServices}"
     th:if="${hairdressing.category==T(com.example.beautySalon.domain.entity.ServiceCategory).HAIRDRESSING}"
     class="text-center">
    <div class="card" th:object="${hairdressing}">
        <img class="card-img"  th:src="'data:image/jpeg;base64,' + ${imageUtil.getImgData(hairdressing.getImg().getFileData())}">
        <div class="card-img-overlay">
            <div class="container">
                <div class="col-12">
                    <div class="text">
                        <div class="col">
                            <h1 ><strong class="flex-column" th:text="*{name}"></strong></h1>
                        </div>
                        <div class="col">
                            <h1 class="col-auto"><strong class="flex-column" th:text="*{price}"></strong></h1>
                        </div>
                        <form method="post" sec:authorize="hasRole('ROLE_USER')"
                              th:action="@{'/user/add-transaction/cosmeticService/' + ${hairdressing.id}}">
                            <button class="btn btn-dark align-bottom" type="submit">Purchase</button>
                        </form>
                        <a type="button" class="btn-dark"  th:href="@{'/manicure/' + ${hairdressing.id}}">
                            Info
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="text-center" sec:authorize="isAnonymous()">
        <a type="submit" class="btn btn-primary" th:href="@{/index}">Back</a>
    </div>
    <div class="text-center" sec:authorize="hasRole('ROLE_USER')">
        <a type="submit" class="btn btn-primary" th:href="@{/home}">Back</a>
    </div>
    <footer th:replace="~{fragments/footer}"></footer>
</body>
</html>