<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:replace="~{/fragments/head}"></div>
<body>
<div th:replace="~{/fragments/navbar}"></div>
<div class="card" >
  <img class="card-img" src="/images/home.png" alt="picture">
  <div class="card-img-overlay">
    <h2 class="text-center text-white-50">Welcome to home page</h2>
    <div sec:authorize="isAuthenticated()">
      <h1 class="align-text-bottom text-white" th:text="${username}"></h1>
    </div>
</div>
</div>
</body>
</html>