<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:replace="~{/fragments/head}"></div>
<body>
<div th:replace="~{/fragments/navbar}"></div>
<div class="card" sec:authorize="isAuthenticated()">
  <img class="card-img" src="/images/home.png" alt="picture">
  <div class="card-img-overlay">
    <div class="container">
      <h1 class="text-center" data-th-text="#{label.welcome}">Welcome to our salon</h1>
      <div class="embed-responsive embed-responsive-16by9 ">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/k0UXcWkh5I8" height="0" width="100"></iframe>
      </div>
    </div>
  </div>
</div>
</body>
</html>