<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:replace="~{/fragments/head}"></div>
<body>
<div th:replace="~{/fragments/navbar}"></div>
<div class="card">
    <img src="/images/nails.png" alt="picture">
    <div class="card-img-overlay">
        <h1 class="text-center">
            Manicure
        </h1>
        <div th:each="manicure : ${allServices}"
             th:object="${manicure}"
             th:if="${manicure.category==T(com.example.beautySalon.domain.entity.ServiceCategory).MANICURE}"
             class="row d-flex flex-column text-white bg-text mb-3 rounded-pill">
            <h4> <strong  th:text="*{name}"></strong></h4>
            <h4> <strong  th:text="*{price}"></strong></h4>
            <form method="post" sec:authorize="hasRole('ROLE_USER')"
                  th:action="@{'/user/add-transaction/cosmeticService/' + ${manicure.id}}">
                <button class="btn btn-dark align-bottom" type="submit">Purchase</button>
            </form>
            <a type="button" class="btn-dark"  th:href="@{'/manicure/' + ${manicure.id}}">
                Info
            </a>
        </div>
        <div class="text-center">
            <a type="submit" class="btn btn-primary" th:href="@{/home}">Back</a>
        </div>
    </div>
    <footer th:replace="~{fragments/footer}"></footer>
</div>
</body>
</html>