<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:replace="~{/fragments/head}"></div>
<body>
<div th:replace="~{/fragments/navbar}"></div>
<div class="card" >
    <img class="card-img" src="/images/massage.png" alt="picture">
    <div class="card-img-overlay">
        <h1 class="text-center">
            Massages
        </h1>
        <div>
            <div class="container">
                <div class="row">
                    <h1>Massages</h1>
                    <div th:each="massage : ${allServices}"
                         th:object="${massage}"
                         th:if="${massage.category==T(com.example.beautySalon.domain.entity.ServiceCategory).MASSAGES}"
                         class="col-md-4 d-flex flex-column bg-text mb-3 rounded-pill">
                        <h2>Name: <strong th:text="*{name}"></strong></h2>
                        <h4>Price: <strong th:text="*{price}"></strong></h4>
                        <form sec:authorize="hasRole('ROLE_USER')" method="post"
                              th:action="@{'/user/add-transaction/cosmeticService/' + ${massage.id}}">
                            <button class="btn btn-dark align-bottom" type="submit">Purchase</button>
                        </form>
                        <a type="button" class="btn-dark"  th:href="@{'/manicure/' + ${massage.id}}">
                            Info
                        </a>
                    </div>
                </div>
            </div>
            <div class="text-center" sec:authorize="isAnonymous()">
                <a type="submit" class="btn btn-primary" th:href="@{/index}">Back</a>
            </div>
            <div class="text-center" sec:authorize="hasRole('ROLE_USER')">
                <a type="submit" class="btn btn-primary" th:href="@{/home}">Back</a>
            </div>
        </div>
        <footer th:replace="~{fragments/footer}"></footer>
    </div>
</div>
</body>
</html>