<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<hr>
<div class="container bootstrap snippet">
    <div th:replace="~{fragments/navbar}"></div>
    <ul class="nav-tabs">
        <li class="nav nav-item active"><href data-toggle="tab" data-th-href="#{label.home}">Home</href></li>
        <li class="nav nav-item active"><href data-toggle="tab" data-th-href="#{label.editProfile}" th:href="@{/profile/edit}">Edit</href></li>
    </ul>
    <div class="page-item" th:action="@{/profile}">
            <div class="tab-content mt-5 " id="home">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-7">
                        <div class="profile-card p-3 py-4" th:object="${user}">
                            <div class="text-center">
                                <h1 data-th-text="#{label.home}">Home</h1>
                                <img src="/images/profile.jpg" width="100" class="rounded-circle"></div>
                            <div class="text-center mt-3">
                                <h5 class="bg-secondary p-1 px-4 rounded text-white" th:each="authority:*{authorities}" th:text="${authority.authority.toString()}">Role</h5>
                                <h5 class="mt-4 mb-0" th:text="*{firstName}">First name</h5>
                                <h5 class="mt-2 mb-0" th:text="*{username}">Username</h5>
                                <h5 class="mt-2 mb-0" th:text="*{email}">Email</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!--/tab-content-->
    </div>
</div>
<div class="page-item" id="edit">
    <h1 data-th-text="#{label.editProfile}">Edit profile</h1>
    <div class="tab-content">
        <div class="tab-pane active">
            <hr>
            <form class="form" th:object="${editUser}" th:action="@{profile/edit}" method="post"  id="registration Form" >
                <div class="form-group">
                    <div class="col-xs-6">
                        <label for="firstName"><h4 data-th-text="#{label.firstName}">First name</h4></label>
                        <input type="text"
                               class="form-control"
                               name="firstName"
                               th:field="*{firstName}"
                               id="firstName"
                               placeholder="firstname"
                               title="enter your first name if any.">
                        <p th:errors = "*{firstName}" class="text-danger"
                           th:if="${#fields.hasErrors('firstName')}"></p>
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-xs-6">
                        <label for="lastName"><h4 data-th-text="#{label.lastName}">Last name</h4></label>
                        <input type="text"
                               class="form-control"
                               name="lastName"
                               th:field="*{lastName}"
                               id="lastName"
                               placeholder="lastname"
                               title="enter your last name if any.">
                        <p th:errors = "*{lastName}" class="text-danger"
                           th:if="${#fields.hasErrors('lastName')}"></p>
                    </div>
                </div>

                <div class="form-group">

                    <div class="form-group">

                        <div class="col-xs-6">
                            <label for="email"><h4 data-th-text="#{label.employeeEmail}">Email</h4></label>
                            <input type="email"
                                   class="form-control"
                                   name="email"
                                   th:field="*{email}"
                                   id="email"
                                   placeholder="you@email.com"
                                   title="enter your email.">
                            <p th:errors = "*{email}" class="text-danger"
                               th:if="${#fields.hasErrors('email')}"></p>
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-xs-6">
                            <label for="password"><h4 data-th-text="#{label.password}">Password</h4></label>
                            <input type="password"
                                   class="form-control"
                                   name="password"
                                   th:field="*{password}"
                                   id="password"
                                   placeholder="password"
                                   title="enter your password.">
                            <p th:errors = "*{password}" class="text-danger"
                               th:if="${#fields.hasErrors('password')}"></p>
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-xs-6">
                            <label for="confirmPassword"><h4 data-th-text="#{label.confirmPassword}">Confirm password</h4></label>
                            <input type="password" class="form-control"
                                   name="confirmPassword"
                                   id="confirmPassword"
                                   th:field="*{confirmPassword}"
                                   placeholder="password2"
                                   title="enter your password2.">
                            <p th:errors = "*{confirmPassword}" class="text-danger"
                               th:if="${#fields.hasErrors('confirmPassword')}"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <br>
                            <button class="btn btn-lg btn-success" type="submit" ><i class="glyphicon glyphicon-ok-sign"></i>Save</button>
                            <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                        </div>
                    </div>
                </div>
            </form>
            <hr>
        </div>
    </div>
</div>
</body>
</html>
